elasticsearch/bin
elasticsearch/lib
elasticsearch/jdk
elasticsearch/modules
elasticsearch/plugins

kibana/bin
kibana/node
kibana/node_modules
kibana/src
kibana/x-pack

logstash/bin
logstash/jdk
logstash/logstash-core
logstash/logstash-core-plugin-api
logstash/x-pack
logstash/config
logstash/lib
logstash/tools
logstash/modules
logstash/vendor

filebeat/kibana
filebeat/filebeat
filebeat/module
filebeat/module.d
filebeat/NOTICE.txt

files/

elasticstack/elasticsearch/bin
elasticstack/elasticsearch/lib
elasticstack/elasticsearch/jdk
elasticstack/elasticsearch/modules
elasticstack/elasticsearch/plugins

elasticstack/kibana/bin
elasticstack/kibana/node
elasticstack/kibana/node_modules
elasticstack/kibana/src
elasticstack/kibana/x-pack

elasticstack/logstash/bin
elasticstack/logstash/jdk
elasticstack/logstash/logstash-core
elasticstack/logstash/logstash-core-plugin-api
elasticstack/logstash/x-pack
elasticstack/logstash/config
elasticstack/logstash/lib
elasticstack/logstash/tools
elasticstack/logstash/modules
elasticstack/logstash/vendor

elasticstack/filebeat/kibana
elasticstack/filebeat/filebeat
elasticstack/filebeat/module
elasticstack/filebeat/module.d
elasticstack/filebeat/NOTICE.txt

elasticstack/files/