sticsearch/bin
elasticsearch/lib
elasticsearch/jdk
elasticsearch/modules
elasticsearch/plugins

kibana/bin
kibana/node
kibana/node_modules
kibana/src
kibana/x-pack

logstash/bin
logstash/jdk
logstash/logstash-core
logstash/logstash-core-plugin-api
logstash/x-pack
logstash/config
logstash/lib
logstash/tools
logstash/modules
logstash/vendor

filebeat/kibana
filebeat/filebeat
filebeat/module
filebeat/module.d
filebeat/NOTICE.txt

files/
