elasticsearch/bin
elasticsearch/lib
elasticsearch/jdk
elasticsearch/modules
elasticsearch/plugins

kibana/bin
kibana/node
kibana/node_modules
kibana/src
kibana/x-pack

logstash/bin
logstash/jdk
logstash/logstash-core
logstash/logstash-core-plugin-api
logstash/x-pack
logstash/config
logstash/lib
logstash/tools
logstash/modules
logstash/vendor

filebeat/kibana
filebeat/filebeat
filebeat/module
filebeat/module.d
filebeat/NOTICE.txt

files/

elastic-stack/elasticsearch/bin
elastic-stack/elasticsearch/lib
elastic-stack/elasticsearch/jdk
elastic-stack/elasticsearch/modules
elastic-stack/elasticsearch/plugins

elastic-stack/kibana/bin
elastic-stack/kibana/node
elastic-stack/kibana/node_modules
elastic-stack/kibana/src
elastic-stack/kibana/x-pack

elastic-stack/logstash/bin
elastic-stack/logstash/jdk
elastic-stack/logstash/logstash-core
elastic-stack/logstash/logstash-core-plugin-api
elastic-stack/logstash/x-pack
elastic-stack/logstash/config
elastic-stack/logstash/lib
elastic-stack/logstash/tools
elastic-stack/logstash/modules
elastic-stack/logstash/vendor

elastic-stack/filebeat/kibana
elastic-stack/filebeat/filebeat
elastic-stack/filebeat/module
elastic-stack/filebeat/module.d
elastic-stack/filebeat/NOTICE.txt

elastic-stack/files/
